h1 {
    font-size: 2.5em;
    line-height: 1.1;
    margin: 0;
    margin-left: 24px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 16px 16px;
    box-sizing: border-box;
    background-color: rgb(17, 17, 17);
}

button {
    display: flex;
    gap: 4px;
}

.tabs {
    display: flex;
    gap: 16px;
}